main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    background-color: white;
    border-radius: 10px 10px;
    overflow: hidden;
    margin: auto;

}

.image-area {
    max-height: 38%;
}

.image-area img {
    min-width: 100%;
    max-height: 100%;
}

.info-area {
    background-color: var(--white);
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p.product-category {
    margin-top: .3em;
    text-transform: uppercase;
    letter-spacing: .25em;
    padding-bottom: 10px;
    color: var(--dark-grayish-blue);
}

.product-description {
    font-size: .9em;
    line-height: 1.7em;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;

}

.product-name {
    line-height: 1em;
    /* margin-top: 2px; */
    margin-bottom: 10px;

}

.product-prices {
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 15px;
}

.product-price {
    margin-right: 20px;
    font: bold 32px/1.2 "Fraunces", serif;
    color: var(--dark-cyan);

}

.product-old-price {
    text-decoration: line-through;
    font-size: 14px;
    text-align: left;
    color: var(--dark-grayish-blue);

}

button[type="submit"] {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    font-size: 1em;
    font-weight: bolder;
    background-color: var(--dark-cyan);
    color: var(--white);
    min-width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

button[type="submit"]:hover {
    filter: brightness(65%);
}


.cart-icon {
    width: 1em;
    height: 1em;
    margin-right: .8em;
    background-image: url("./images/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

@media screen and (min-width: 1440px) {
    main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 600px;
    }

    .image-area {
        min-width: 50%;
        min-height: 100%;
    }

    .info-area {
        min-width: 50%;
        min-height: 100%;
        padding: 30px;
    }

    .image-area img {
        display: block;
        content: url("./images/image-product-desktop.jpg");
        width: 100%;
        height: 100%;
    }

    .product-price {
        margin-right: 15px;
    }

    p.product-category {
        margin-top: .6em;
        padding-bottom: 20px;
    }

    .product-name {
        margin-bottom: 10px;

    }

    .product-price {
        margin-right: 15px;

    }

}